* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: lightblue;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .box {
    position: absolute;
    border: 2px solid red;
    padding: 250px;
    height: 100px;
    width: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: wheat;
    -webkit-perspective: 800px;
            perspective: 800px;
  }
  
  .cube {
    position: relative;
    top: -50px;
    left: -50px;
    width: 200px;
    height: 200px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-animation: cuberotate 5s linear infinite;
            animation: cuberotate 5s linear infinite;
  }
  
  @-webkit-keyframes cuberotate {
    from {
      -webkit-transform: rotateX(720deg);
              transform: rotateX(720deg);
    }
    to {
      -webkit-transform: rotateX(360deg) rotateZ(350deg);
              transform: rotateX(360deg) rotateZ(350deg);
    }
  }
  
  @keyframes cuberotate {
    from {
      -webkit-transform: rotateX(720deg);
              transform: rotateX(720deg);
    }
    to {
      -webkit-transform: rotateX(360deg) rotateZ(350deg);
              transform: rotateX(360deg) rotateZ(350deg);
    }
  }
  
  .side {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    opacity: 0.8;
    border: 2px solid white;
  }
  
  .front {
    background-color: #d50000;
    -webkit-transform: translateZ(100px);
            transform: translateZ(100px);
  }
  
  .left {
    background-color: #304ffe;
    -webkit-transform: rotateY(90deg) translateZ(-100px);
            transform: rotateY(90deg) translateZ(-100px);
  }
  
  .right {
    background-color: #0091ea;
    -webkit-transform: rotateY(90deg) translateZ(100px);
            transform: rotateY(90deg) translateZ(100px);
  }
  
  .back {
    background-color: #aa00ff;
    -webkit-transform: translateZ(-100px);
            transform: translateZ(-100px);
  }
  
  .top {
    background-color: #00bfa5;
    -webkit-transform: rotateX(90deg) translateZ(100px);
            transform: rotateX(90deg) translateZ(100px);
  }
  
  .bottom {
    background-color: #64dd17;
    -webkit-transform: rotateX(90deg) translateZ(-100px);
            transform: rotateX(90deg) translateZ(-100px);
  }
